@mixin container {
  .content {
    width: 80%;
    z-index: 2;
    background: $fill-white;
    max-width: 1300px;
    margin: auto;
    padding: 3rem 2.5rem;
    border-bottom: 60px solid transparent;

    @include screen("lg") {
      width: 70%;
    }

  }

}

@mixin blocks {

  .separator {

    &__title {
      margin: 0px;
    }

    &__line {
      border-bottom: 0.5em solid $border-red;
      width: 15%;

      @include screen("lg") {
        width: 10%;
      }
    }

    &__sub-title {
      color: #000;
      margin-bottom: 2.5rem;
      margin: 5px 0 2.5rem 0;
      font-style: italic;
    }

  }

  .title {
    display: block;
    font-size: 1.3rem;
  }

  .addition {
    display: block;
    font-style: italic;
  }

  .timespan {
    display: block;
  }

  .summary {
    background-color: $text-gray;
    overflow: visible;
    width: calc(100% + 10rem);
    position: relative;
    padding: 1rem 5rem;
    left: -5rem;
    margin-bottom: 1rem;
  }

  .career {
    line-height: 1.5;
    margin-bottom: 1rem;

    @include screen("lg") {
      margin-left: 1.5rem;
    }

  }

  .internship {
    line-height: 1.5;
    margin-bottom: 1rem;

    @include screen("lg") {
      margin-left: 1.5rem;
    }
  }

  .education {
    line-height: 1.5;
    margin-bottom: 1rem;

    @include screen("lg") {
      margin-left: 1.5rem;
    }
  }

  .patent {
    line-height: 1.5;
    margin-bottom: 1rem;

    @include screen("lg") {
      margin-left: 1.5rem;
    }
  }

}

@mixin sterbling-resume {

  .resume {
    background: #fbfdff;
    @include container();

    @include blocks();
  }


}