$color-splash-container: #eff2f5;

@mixin splash-container {
  background: $color-splash-container;
  z-index: 1;
  overflow: hidden;
  width: 100%;
  height: 90vh;
  top: 0;
  left: 0;
  position: fixed !important;

  @include screen("md") {
    height: 94vh;
  }

  &--content {
    position: absolute;
    top: 90vh;
    width:100%;
    min-height: 12%;
    z-index: 2;
    border-top: 1rem $border-red solid;
    background: $fill-white;
    // margin-bottom: 60px;
    background-clip: padding-box;
    border-bottom: 60px solid transparent;

    @include screen("md") {
      top: 94vh;
    }
  }

  &--arrow-down::after {
    content: '';
    position: absolute;
    top: -15px;
    right: calc(50% - 30px);
    height: 0;
    width: 0;
    border: rem(30px) solid transparent;
    border-top: rem(45px) solid $border-red;
    border-bottom: none;
    transform-origin: top;
    transition: transform .5s ease;
  }

  &--arrow-down-animate::after {
    transform: scaleY(0) scaleX(2);
  }

}

@mixin splash {
  width: 80%;
  height: 85vh;
  margin: auto;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-width: 1300px;


  @include screen("md") {
    height: 50%;
    top: 100px;
  }

  &__head {
    font-size: 3rem;
    color: $color__black;
    padding: 0.1rem 0em;
    font-weight: 600;
    border-radius: 5px;
    line-height: 1em;
  }

  &__subhead {
    color: $color__black;
    letter-spacing: 0.02rem;
    opacity: 0.8;
    @include type-normal();

    @supports (width: fit-content) {
      width: fit-content;
      background-color: $color-splash-container;
      padding-right: 0.5rem;
      border-radius: 10px;
    }
  }

  &__bottom {
    color: $color__black;
    letter-spacing: 0.02rem;
    opacity: 0.8;
    margin: rem(16px) 0;
  }

  &__content-wrapper {
    width: 80%;
    z-index: 2;
    background: $fill-white;
    max-width: 1300px;
    margin: auto;
    padding: 3rem 0.5rem;
  }

}

@mixin author-image {
  position: absolute;
  height: 40vh;
  right: 3vw;
  bottom: 0;
  z-index: -1;

  @include screen("md") {
    bottom: 0;
    top: unset;
    left: unset;
    right: 7vw;
    height: 50vh;
  }

  @include screen("lg") {
    bottom: 0;
    top: unset;
    left: unset;
    right: 15vw;
    height: 50vh;
  }
}

@mixin blogbout-splash {
  .splash__container {
    @include splash-container();
  }

  .splash {
    @include splash();
  }

  .author {
    @include author-image();
  }
}