<div style="position:fixed; bottom:0; left: 0; z-index:1; width:100%;">

  <div style="background-color: #eff2f5; color: #000; padding:1rem;text-align: center;">Made with ♥️ by Sterbling</div>

</div>