@import 'modularscale-sass/stylesheets/modularscale';
@import "functions/functions";
@import "config/config";

@import "base/base";

@import "utilities/utilities";

// @import "objects/objects";
// @import "layouts/layouts";
@import "components/components";

@include blogbout-base;
@include blogbout-utilities;
// @include blogbout-objects;
// @include blogbout-layouts;
@include blogbout-components;

body {
  background-color: #fff;
}

.bg__pattern {
  background: url('../images/Pattern.svg') 300% repeat fixed;
  background-size: 80%;
  opacity: 0.35;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -1;
}