---
layout: index.njk
title: about
description: This is the main page for my personal blog. Currently under development!
keywords: blogbout, blog, it, news, personal, opinion, web, design, DX, sass
author: Sven Sterbling
---
<div>
  {{ title }}
  {{ posts | dump }}
</div>