---
layout: index.njk
title: Résumé
description: My résumé of things if done.
keywords: blog, it, personal, opinion, web, cv, resume, sven, sterbling, education, patents, work, history
date: 2022-11-01
author: Sven Sterbling
---

{% macro career_step(company='', title='', timespan='', achievements='', tech='') %}
<div class="career-step">
  <span class="addition">{{company}}</span>
  <span class="title">{{title}}</span>
  <span class="timespan">{{ timespan | safe }}</span>
  {% if achievements %}
  <span class="key-achievements"><b>Achievements</b> | {{achievements}}</span>
  {% endif %}
  {% if tech %}
  <span class="tech-stack"><b>Tech Stack</b> | {{tech}}</span>
  {% endif %}
</div>
{% endmacro %}

<div class="resume">
  <div class="content">
    <h1 class="separator__title">Sven Sterbling</h1>
    <hr class="separator__line" />
    <p class="separator__sub-title">My résumé thus far</p>
    
    <div class="summary">
      <h2>TL;DR;</h2>
      <p>Senior developer with 6+ years of experience in developing and operating cloud native services. Strong emphasis on reslient and performant/scalable applications which are maintainable. Actively involved in decsision making and distributing knowledge.</p>
    </div>

    <h2 class="text--SPACE-MD">Career History</h2>

    {{career_step(
      title="Senior Developer - SAP Data Warehouse Cloud", 
      company="SAP", 
      timespan="10/2021 - <i>to date</i>", 
      achievements="Introduction of Redis as a distributed cache including monitoring
                    instrumentation and alerting for operations for a multi-tenant 
                    cloud-based service. Participating in special resiliency tasks 
                    including the analysis and tuning of performance issues based on 
                    profiling and static code analysis. Advocating and sharing 
                    best-practises for reliable, scalable and robust cloud services.",
      tech="Cloud Foundry, Containerization, Javascript/Typescript, Python, Dynatrace, Kibana, Jenkins, Redis, HANA Cloud"
      )}}

    {{career_step(
      title="Senior Development Manager - IBM Cloud Databases", 
      company="IBM Public Cloud", 
      timespan="03/2020 - 10/2021", 
      achievements="Restructure of database engineering teams into two high functioning 
                    squads. Staffing and onboarding of two new regions. Successful release
                    of two new database as a service offerings (MongoDB Enterprise, MySQL). 
                    Handling of critical customer cases and leading the technical 
                    investigation.",
      tech="Kubernetes, Containerization, Python, Golang, Prometheus, Jenkins, (various) Databases"
      )}}

    {{career_step(
      title="Senior Database Engineer - IBM Cloud Databases", 
      company="IBM Public Cloud", 
      timespan="06/2018 - 03/2020", 
      achievements="Lead engineer for the successful release of Redis as a Service on IBM Cloud.
                    Improving switchover & failover timeouts for Redis from 30s down to 2s.
                    Maintaining TLS-enabled CLI tooling for Redis called redli. Worked on features for
                    MongoDB, Elasticsearch and Etcd. Created monitoring instrumentation, runbooks & dashboards
                    for operations.",
      tech="Kubernetes, Containerization, Python, Golang, Prometheus, Jenkins, (various) Databases"
      )}}

    {{career_step(
      title="Product Advocate - Watson Content Hub", 
      company="Watson Customer Engagement", 
      timespan="09/2016 - 06/2018", 
      achievements="Creating and distributing Proof-of-Concepts 
                    to engage with customers in workshops at 
                    conferences and skill-sharing in our service 
                    team. Design and implementation of content-driven 
                    chatbots.",
      tech="Containerization, Nodejs, Java, MongoDB"
      )}}

    {{career_step(
      title="Lab Services IT Specialist - Websphere Portal", 
      company="IBM Middleware", 
      timespan="11/2014 - 09/2016", 
      achievements="Development and architecture for a customer facing 
                    web platform for connected cars. Design and 
                    development of a synchronization tool between an 
                    on premise digital asset solution to a cloud-based 
                    content management system.",
      tech="Websphere Portal, Java/Spring, Portlets, Python"
      )}}

    <h2 class="text--SPACE-MD">Internships</h2>

    {{career_step(
      title="Master Thesis", 
      company="IBM Kenexa Talent Suite", 
      timespan="04/2014 - 10/2014" 
      )}}

    {{career_step(
      title="Student Agent", 
      company="IBM University Relations", 
      timespan="10/2012 - 03/2014" 
      )}}

    {{career_step(
      title="IBM Extreme Blue", 
      company="IBM Deutschland", 
      timespan="07/2012 - 09/2012" 
      )}}

    {{career_step(
      title="Web Development Student Assistant", 
      company="Information Systems Department 1 Hohenheim", 
      timespan="11/2010 - 03/2014" 
      )}}

    <h2 class="text--SPACE-MD">Education</h2>

    {{career_step(
      title="Master of Science - Information Systems", 
      company="University of Hohenheim", 
      timespan="10/2012 - 10/2014",
      achievements="Grade 1,3"
      )}}

    {{career_step(
      title="Bachelor of Science - Information Systems", 
      company="University of Stuttgart", 
      timespan="10/2009 - 07/2012",
      achievements="Grade 1,4"
      )}}

    {{career_step(
      title="Study Abroad - Bachelor Thesis", 
      company="University of Tilburg", 
      timespan="04/2012 - 07/2012",
      achievements="The Economic Relevance of an e-Mediation Component in the Context of Electronic Negotiation Systems (Grade 1,0)"
      )}}

    <h2 class="text--SPACE-MD">Patents</h2>

    {% for info in [
        {
          title: "License management system",
          patent_number: "US 20140165053 A1",
          href: "https://patents.google.com/patent/US9201640B2/en"
        },
        {
          title: "Remotely awakening an electronic device",
          patent_number: "US 9494988 B2",
          href: "https://patents.google.com/patent/US9494988B2/en"
        },
        {
          title: "Approving group purchase requests",
          patent_number: "US 20180101891 A1",
          href: "https://patents.google.com/patent/US20180101891A1/en"
        },
        {
          title: "Automatically propagating tagging of content items in a content management system environment",
          patent_number: "US 11074275 B2",
          href: "https://patents.google.com/patent/US11074275B2/en"
        },
        {
          title: "Single page application continuous integration, build, and deployment",
          patent_number: "US 20200264848 A1",
          href: "https://patents.google.com/patent/US20200264848A1/en"
        },
        {
          title: "Monitoring health status of a large cloud computing system",
          patent_number: "US 20220253340 A1",
          href: "https://patents.google.com/patent/US20220253340A1/en"
        },
        {
          title: "Multi-level cache-mesh-system for multi-tenant serverless environments",
          patent_number: "US 11316947 B2",
          href: "https://patents.google.com/patent/US11316947B2/en"
        }
      ]
    %}
    <div class="patent">
      <span class="title title__small">{{info.title}}</span>
      <a href="{{info.href}}" target="_blank" rel="noopener noreferrer"><span class="addition">US Patent: {{info.patent_number}}</span></a>
    </div>
    {% endfor %}

  </div>
</div>