---
layout: index.njk
title: Sven Sterbling
description: This is the main page for my personal blog. Currently under development!
keywords: blogbout, blog, it, news, personal, opinion, web, design, DX, sass
date: 2016-04-19
author: Sven Sterbling
---


<div class="splash__container">


  <div class="splash">
      <h1 class="splash--head">Sven <br/> Sterbling</h1>
      
      <p class="splash--subhead">
        A coder by heart with a knack for clean & simple design.
      </p>
      <p>
         I'm a ☁️(cloud) 🛢️(database) 👨‍(engineer) at <span class="text--BOLD">IBM</span>.
      </p>

      <div>
        <p>
          <a href="mailto:sv.sterbling@gmail.com">sv.sterbling@gmail.com</a>
        </p>
        <p>
          <a href="https://www.linkedin.com/in/sven-sterbling" target="_blank" rel="noopener noreferrer">Linkedin</a>
        </p>
        <p>
          <a href="https://github.com/ullumullu" target="_blank" rel="noopener noreferrer">Github</a>
        </p>
      </div>
  </div>

</div>


<div class="splash__container--content">
  <div class="splash--content-wrapper"> 
    <section>
      <h1>Things about myself</h1>
      <ul>
        <li>TODO</li>
      </ul>
    </section>
    <section>
      <h1>Reading List</h1>
      <ul>
        <li>TODO</li>
      </ul>
    </section>
    <section>
      <h1>Think</h1>
      <ul>
        <li>TODO</li>
      </ul>
    </section>
  </div>
</div>

<div style="display:none;">
  {{site | dump}}
</div>



{# <script src="//cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/trianglify/0.4.0/trianglify.min.js"></script>

<script>
	var pattern = Trianglify({
		width: window.innerWidth,
		height: window.innerHeight
	});
	document.body.appendChild(pattern.canvas())

  window.onload = function() {
    Particles.init({
      selector: '.background'
    });
  };
</script> #}