---
layout: index.njk
title: Sven Sterbling
description: Hey there! I'm Sven and if you want to learn more about me and my work check out my site. (Currently under development)
keywords: sven, sterbling, blog, it, personal, opinion, web, design, DX, sass, kubernetes, SAP, cloud, data warehouse, engineer, developer, expert
date: 2021-12-11

author: Sven Sterbling
---


<div class="splash__container">


  <div class="splash">
      <h1 class="splash__head">Sven <br/> Sterbling</h1>
      
      <div class="splash__subhead">
        <p>
          A coder by heart with a knack for clean & simple design.
        </p>
        <p>
          I'm a 👨‍💼 (senior) 🔧 (developer) at <span class="text--BOLD">SAP Data Warehouse Cloud</span>.
        </p>
      </div>
      <div class="splash__bottom">
        <p>
          <a href="mailto:sven@sterbling.com">sven@sterbling.com</a>
        </p>
        <p>
          <a href="https://www.linkedin.com/in/sven-sterbling" target="_blank" rel="noopener noreferrer">Linkedin</a>
        </p>
        <p>
          <a href="https://github.com/ullumullu" target="_blank" rel="noopener noreferrer">Github</a>
        </p>

      </div>
  </div>

  <img class="author" src="/images/sterbling.jpg" alt="Portrait of Sven Sterbling">

</div>

<div class="splash__container--content splash__container--arrow-down">
  <div class="splash__content-wrapper"> 
    <section class="mb_xs--MD">
      <h2>About myself</h2>
      <p>
        I'm spending my days working with an exceptional team on <a href="https://www.sap.com/products/data-warehouse-cloud.html" target="_blank" rel="noopener noreferrer">SAP Data Warehouse Cloud</a>. 
        Trying to find the perfect balance between leadership and beeing technical involved is one of my current drivers. I'm passionate to work and shape 
        development teams and help everyone to grow. I have a <a href="/resume">résumé</a> if you like to know what I've done so far.
      </p>
      <p>Besides zeroes and ones I've started to learn about photography. Part of the learning experience is trying to publish stuff <a href="https://stock.adobe.com/de/contributor/207416496/Sven" target="_blank" rel="noopener noreferrer">here</a>.</p>
    </section>
    <section class="mb_xs--MD">
      <h2>Reading List</h2>
      <ul>
        {% for title, author in {
            "Elastic Leadership: Growing self-organizing teams": "Roy Osherove",
            "Designing Data-Intensive Applications": "Martin Kleppmann",
            "Antifragile: Things that Gain from Disorder": "Nassim Nicholas Taleb",
            "Mythical Man-Month, The: Essays on Software Engineering": "Frederick P. Brooks Jr.",
            "To Save Everything, Click Here": "Evgeny Morozov"
          }
        %}
          <li class="mb_sm--BASE"><span class="text--INLINE-BLOCK mr_sm--BASE">{{title}}</span><span class="text--LIGHT text--INLINE-BLOCK">by {{author}}</span></li>
        {% else %}
          <li>The reading list is empty :(</li>
        {% endfor %}
      </ul>
    </section>
    <section class="mb_xs--MD">
      <h2>Think</h2>
      <quote>"It seems that perfection is finally attained not when there is no longer anything to add, but when there is no longer anything to take away." <br/> ─ Antoine de Saint-Exupéry</quote>
    </section>
    <section>
      <h2>Videos</h2>
      <div class="grid">
        <div class="grid--half">
          <iframe class="lazyload" style="width:100%" height="365" data-src="https://www.youtube.com/embed/i9eV3yM4WZQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </section>
  </div>
</div>

{# <script src="//cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/trianglify/0.4.0/trianglify.min.js"></script>

<script>
	var pattern = Trianglify({
		width: window.innerWidth,
		height: window.innerHeight
	});
	document.body.appendChild(pattern.canvas())

  window.onload = function() {
    Particles.init({
      selector: '.background'
    });
  };
</script> #}