---
layout: index.njk
title: Sven Sterbling
description: This is the main page for my personal blog. Currently under development!
keywords: blogbout, blog, it, news, personal, opinion, web, design, DX, sass
date: 2016-04-19
author: Sven Sterbling
---


<div class="splash__container">


  <div class="splash">
      <h1 class="splash--head">Sven <br/> Sterbling</h1>
      
      <div class="splash--subhead">
        <p>
          A coder by heart with a knack for clean & simple design.
        </p>
        <p>
          I'm a ☁️(cloud) 🛢️(database) 👨‍(engineer) at <span class="text--BOLD">IBM</span>.
        </p>
      </div>
      <div class="splash--bottom">
        <p>
          <a href="mailto:sven@sterbling.com">sven@sterbling.com</a>
        </p>
        <p>
          <a href="https://www.linkedin.com/in/sven-sterbling" target="_blank" rel="noopener noreferrer">Linkedin</a>
        </p>
        <p>
          <a href="https://github.com/ullumullu" target="_blank" rel="noopener noreferrer">Github</a>
        </p>

      </div>
  </div>

  <img class="author" src="/images/sterbling3.png" alt="Portrait of Sven Sterbling">

</div>

<div class="splash__container--content">
  <div class="splash--content-wrapper"> 
    <section>
      <h1>About myself</h1>
      <p>My focus of work is currently all about distributed systems and <a href="https://www.ibm.com/cloud/databases" target="_blank" rel="noopener noreferrer">databases</a>. But I'm still having too much fun with web development and design - so let's see where I'm going with this site.</p>
      <p>Besides zeroes and ones I've started to learn about photography. Part of the learning experience is trying to publish stuff <a href="https://stock.adobe.com/de/contributor/207416496/Sven" target="_blank" rel="noopener noreferrer">here</a>.</p>
    </section>
    <section>
      <h1>Reading List</h1>
      <ul>
        {% for title, author in {
            "Designing Data-Intensive Applications": "Martin Kleppmann",
            "Antifragile: Things that Gain from Disorder": "Nassim Nicholas Taleb",
            "Mythical Man-Month, The: Essays on Software Engineering": "Frederick P. Brooks Jr.",
            "To Save Everything, Click Here": "Evgeny Morozov"
          }
        %}
          <li class="mb_sm--BASE"><span class="text--INLINE-BLOCK mr_sm--BASE">{{title}}</span><span class="text--LIGHT text--INLINE-BLOCK">by {{author}}</span></li>
        {% else %}
          <li>The reading list is empty :(</li>
        {% endfor %}
      </ul>
    </section>
    <section>
      <h1>Think</h1>
      <quote>"It seems that perfection is finally attained not when there is no longer anything to add, but when there is no longer anything to take away." <br/> ─ Antoine de Saint-Exupéry</quote>
    </section>
  </div>
</div>

{# <script src="//cdnjs.cloudflare.com/ajax/libs/particlesjs/2.2.3/particles.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/trianglify/0.4.0/trianglify.min.js"></script>

<script>
	var pattern = Trianglify({
		width: window.innerWidth,
		height: window.innerHeight
	});
	document.body.appendChild(pattern.canvas())

  window.onload = function() {
    Particles.init({
      selector: '.background'
    });
  };
</script> #}